body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 18px;
    color: #393a3c;
    background-color: #fff;
}
.h1, h1 {
    color: #203352;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 34px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear:after {
    content: '';
    display: table;
    clear:both;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.uppercase {
    text-transform: uppercase;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: #056297;
}
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
}
ul li, ol li {
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 1180px;
}
.top_menu {
    border-bottom: 4px solid #056297;
    background-color: #e6f1f8;
}
.top_menu a {
    font-weight: 900;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
}
.top_menu_link {
    padding: 19px 20px 15px 20px;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    background-color: #056297;
    line-height: 12px;
    position: relative;
}
.top_menu_link:hover {
    color: #37BFFE;
}
.top_menu_link:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 4px;
    background-color: #056297;
    left: 0;
    bottom: -4px;
}
.top_menu_link.active:after {
    background-color: #fff;
}
.top_menu_link.active:hover,
.top_menu_link.active {
    color: #006498;
    background-color: #fff;
}
.top_menu .logon {
    font-weight: 900;
    font-size: 10px;
    color: #056297;
    background: url(../img/personal-icon.png) no-repeat 0 15px;
    line-height: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 0px 18px 25px;
}
.logon:hover {
    color: #37BFFE;
}
.header {
    padding: 20px 0 0 0;
}
.header_menu_left {
    padding-right: 40px;
    width: 136px;
}
.header_menu_right  {
    width: calc(100% - 176px);
}
.header_text_block {
    width: 33%;
}
.header_info_bold,
.header_info_bold span {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 4px;
    font-weight: 900;
    color: #393a3c;
}
.header_info_bold.header_phone {
    font-size: 22px;
}
.header_text {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #8f8f8f;
}
.header_top {
    border-bottom: 1px solid #dfe4ec;
    padding: 19px 0 20px 0;
    width: 100%;
}
.course_block {
    padding-right: 140px;
}
.main_ul {
    padding: 0;
    margin: 0 0 0 -15px;
    display: inline-block;
    float: left;
}
.main_menu_li {
    padding: 15px;
    display: inline-block;
    position: relative;
}
.main_menu_li:hover {
    background-color: #056297;
    color: #5ebbff;
}
.main_menu_a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #056297;
}
.main_menu_li:hover > a {
    color: #5ebbff;
}
.main_menu_modal {
    display: inline-block;
    float: right;
    margin-top: 5px;
    padding: 15px 0;
}
.main_menu_modal a {
    font-size: 10px;
    line-height: 16px;
    font-family: 'Roboto';
    font-weight: 900;
    text-transform: uppercase;
    color: #db383c;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: right;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 3px 0 3px 25px;
    background: transparent url(../img/emergency-icon.png) 0 0 no-repeat;
    text-decoration: none;
    position: relative;
    top: -7px;
}
.main_menu_modal a:hover {
    color: #ff6a6e;
}
.top_submenu {
    display: none;
    position: absolute;
    z-index: 101;
    background: #056297;
    min-width: 210px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: -15px;
}
.main_menu_li:hover .top_submenu {
    display: block;
}
.top_submenu_li {
    position: relative;
    border-bottom: 1px solid #1e72a1;
}
.top_submenu_li:first-child {
    border-top: 1px solid #1e72a1;
}
.top_submenu_a {
    position: relative;
    color: #fff;
    font-size: 13px;
    display: block;
    text-decoration: none;
    padding: 9px 15px 9px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.top_submenu_a:hover {
    color: #5ebbff;
}
.breadcrumbs {
    padding: 13px 0 29px 0;
    border-top: 1px solid #b6c8d2;
    background-color: #f2f8fb;
}
.breadcrumbs ul {
    padding: 0;
    margin: 0;
    display: block;
}

.breadcrumbs ul li {
    display: inline-block;
}
.breadcrumbs ul li:after {
    content: '-';
    display: inline-block;
    color: #8f8f8f;
    padding: 0 5px;
}
.breadcrumbs ul li:last-child:after {
    display: none;
}
.breadcrumbs ul li span,
.breadcrumbs ul li a {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #8f8f8f;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s;
}
.breadcrumbs ul li a:hover {
    color: #db383c;
}
.under_breadcrumbs {
    padding: 40px 0;
    border-bottom: 1px solid #b6c8d2;
    background-color: #f2f8fb;
}
.left_sidebar {
    width: 17%;
    left: 0;
    top: 0;
    z-index: 100;
    position: absolute;
}
.margin_totop {
    margin-top: -90px;
}
.margin_totop .height_0 {
    height: 0;
}
.select_country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #b0c8e3;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fff, #c3d7f0);
}
.selected_country_wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #b0c8e3;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fff, #c3d7f0);
}
.selected_country_wr.active {
    border: 0;
}
.selected_country {
    background-position: 15px 10px;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 16px;
    color: #104360;
    position: relative;
    padding: 10px 15px 10px 40px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.active .selected_country,
.selected_country:hover {
    background-color: #fff;
}
.selected_country::after {
    content: "";
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    border: 2px solid #478bb4;
    border-radius: 2px;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    right: 15px;
}
.country_list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}
.country_list_showed {
    height: 100%;
}
.country_list li:hover {
    background-color: #bad8e5;
}
.country_list li a {
    font-weight: 700;
    font-size: 14px;
    color: #033958;
    text-decoration: none;
    padding: 10px 16px 10px 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}
.left_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #cce3ff;
    margin-top: 20px;
}
.left_main_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left_main_li {
    padding: 10px 0;
}
.left_main_li.active {
    background-color: #E4F6FD;
}
.attention_li .left_main_a:hover {
    background-color: #cce3ff;
}
.attention_li a {
    color: #b51e22;
}
.left_main_a {
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #033958;
    text-decoration: none;
    padding: 0 16px 0 40px;
    display: block;
    background-color: transparent;
    background-position: 15px center;
    background-repeat: no-repeat;
}
.left_main_li > ul {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    display: none;
    background-color: #E4F6FD;
    overflow: hidden;
}
.left_main_li > ul > li {
    color: #203352;
    font-size: 13px;
    line-height: 13px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #bbdaea;
    padding-bottom: 2px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
.left_main_li > ul > li > a {
    color: #033958;
    text-decoration: none;
    transition: color 0.2s;
}
.left_main_li > ul > li > a:hover {
    color: #db383c;
}
.main_content_wr {
    margin-top: 10px;
}
.main_content_marg {
    width: 83%;
    margin-left: 17%;
    padding-left: 30px;
    float: left;
}
.search_block {
    background-color: #fff;
    border-bottom: 5px solid #056297;
    position: relative;
}
.button_hide_search:after {
    content: '';
    display: block;
    width: 152px;
    height: 24px;
    background: transparent url(../img/filter_hide.png) 0 0 no-repeat;
    margin: 0 auto;
    margin-bottom: -25px;
    cursor: pointer;
}
.search_header {
    background-color: #006498;
    padding: 10px 30px;
    position: relative;
}
.search_title {
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    display: block;
    float: left;
    width: 20%;
    line-height: 32px;
}
.search_header input {
    outline: none;
    border: 0;
    background: #006498;
    font-size: 11px;
    display: block;
    width: 80%;
    float: left;
    height: 25px;
    border-bottom: 1px solid #5497ba;
    color: #fff;
}
#submit_filter {
    background: #006498 url(../img/search_icon.png) no-repeat right center;
    width: 13px;
    height: 13px;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 21px;
    padding: 8px;
    border-bottom: 1px solid #5497ba;
    z-index: 100;
}
input::placeholder {
    color: #5497ba;
    font-size: 11px;
}
.search_filter {
    width: 20%;
    padding: 0 10px;
    display: table-cell;
}
.search_filter:last-child {
    vertical-align: bottom;
}
.search_filter_title {
    color: #393a3c;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0 10px 0;
}
.jq-checkbox.checked, .jq-radio.checked {
    border: 1px solid #db383c;
    background: #db383c;
    box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #db383c, inset 1px -1px #db383c;
}
.jq-checkbox.checked .jq-checkbox__div {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.jq-selectbox {
    width: 100%;
}
.input_begin_date {
    border-radius: 3px;
    border: 1px solid #b8b8b8;
    display: inline-block;
}
.input_begin_date:after {
    content: '';
    float: right;
    display: block;
    background: transparent url(../img/input_begin_date.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
}
.input_begin_date input {
    border: 0;
    outline: none;
    padding: 7px;
    font-size: 16px;
    color: #393a3c;
    font-weight: bold;
    width: calc(100% - 30px);
    box-shadow: inset 0px 4px 7px -5px #000;
}
.input_begin_date {
    box-shadow: inset 0px 4px 7px -5px #000;
}
.search_input_label label {
    font-size: 14px;
    color: #393a3c;
}
.search_input_label {
    margin-bottom: 10px;
}
.jq-selectbox__select {
    height: 32px;
    padding: 0 45px 0 10px;
    border: 1px solid #b8b8b8;
    border-bottom-color: #b8b8b8;
    border-radius: 3px;
    background: transparent;
    box-shadow: 0;
    font: 16px;
    color: #333;
    text-shadow: 1px 1px #FFF;
}
.search_filters {
    display: table;
    padding-bottom: 20px;
}
#submit_detail_filter {
    padding: 15px 18px;
    background-color: #db383c;
    border: 0;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
#submit_detail_filter:hover {
    background-color: #ff6a6e;
}
#discard_filter {
    cursor: pointer;
    color: #0772ba;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    border: 0;
    outline: none;
    padding: 15px 18px 15px 25px;
    margin-left: -50px;
    background-color: transparent;
    background: transparent url(../img/discard_filter.png) 0 13px no-repeat;
}
.main_content {
    background-color: #f2f8fb;
    padding-top: 30px;
}
.main_item {
    background-color: #f7f8f9;
    border-radius: 4px;
    border: 1px solid #dee6eb;
    padding-bottom: 60px;
    margin-bottom: 40px;
}
.main_item_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
}
.main_item_content {
    width: auto;
    border-spacing: 0;
}
.item_content {
    background-color: #fff;
}
.item_link a {
    font-size: 17px;
    color: #0772ba;
}
.item_comment {
    background: transparent url(../img/item_comment.png) 0 0 no-repeat;
    display: inline-block;
    width: 20px;
    height: 16px;
    cursor: pointer;
    margin-right: 10px;
}
.item_comment.active,
.item_comment:hover {
    background: transparent url(../img/item_comment_hover.png) 0 0 no-repeat;
}
.item_like {
    background: transparent url(../img/item_like.png) 0 0 no-repeat;
    display: inline-block;
    width: 18px;
    height: 16px;
    cursor: pointer;
    margin-right: 15px;
}
.item_like.active,
.item_like:hover {
    background: transparent url(../img/item_like_hover.png) 0 0 no-repeat;
}
.main_item_content td {
    padding: 20px 15px;
    border: 1px solid #dee6eb;
}
.item_price {
    text-align: center;
}
.main_list_title {
    margin-bottom: 20px;
}
.main_list_title span.text_block {
    font-size: 11px;
    color:#747474
}
.main_list_sortby {
    width: 25%;
    display: flex;
}
.main_list_sortby span {
    color: #747474;
    font-size: 10px;
    font-weight: bold;
    display: inline-flex;
    white-space: nowrap;
    padding: 10px 10px 0 0;
}
.main_list_sortby .jq-selectbox {
    display: inline-flex;
}
.item_city_list {
    font-size: 12px;
    color: #747474;
    padding: 15px 0;
}
.item_description {
    font-size: 12px;
    color: #8f8f8f;
}
.item_price {
    width: 20%;
    padding: 0 30px;
    vertical-align: middle;
}
.item_price_eu {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 10px;
}
.item_price_ru {
    font-size: 14px;
    color: #747474;
}
.item_ul_list ul {
    margin: 0;
    padding: 0;
    display: inline;
}
.item_ul_list ul:after {
    content: '';
    clear: both;
}
.item_ul_list li {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: transparent;
    margin: 0 2px;
    text-align: center;
    padding: 3px;
    vertical-align: middle;
    display: block;
    float: left;
}
.item_ul_list li.selected {
    color: #fff;
    background-color: #3cb248;
}
.item_ul_list li a {
    font-size: 9px;
    font-weight: bold;
    color: #bac8d5;
    display: block;
    margin: 0 auto;
}
.item_ul_list li.selected a {
    color: #fff;
}
.item_ul_list span {
    padding-left: 15px;
    font-size: 11px;
    color: #8f8f8f;
    font-weight: bold;
    line-height: 24px;
}
.item_ul_list.item_ul_list_quadro li {
    border-radius: 2px;
    border: 1px solid #e9eced;
}
.item_ul_list.item_ul_list_quadro li.selected {
    border: 1px solid #3cb248;
}
.item_slider_title {
    font-size: 12px;
    font-weight: bold;
    color: #203352;
    text-transform: uppercase;
    padding: 18px 0 18px 15px;
}
.item_slider ul {
    padding: 0 20px 20px 20px;
    margin: 0;
}
.item_slider ul:after {
    content: '';
    clear: both;
}
.item_slider li {
    float: left;
    width: 20%;
}
.item_slider li a {
    width: 100%;
}
.ui-datepicker-header:after {
    clear: both;
}
.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-next {
    float: right;
}
.ui-datepicker-title {
    float: left;
    padding: 0 10px;
}
.jq-selectbox__trigger {
    background: url(../img/arrow_down.png) no-repeat center;
    border-left: 0;
}
.jq-selectbox__trigger-arrow {
    display: none;
}
.jq-selectbox__select, .jq-selectbox__select:hover {
    background: #fff;
    box-shadow: inset 0px 4px 7px -5px #000;
}
.jq-selectbox__select-text {
    font-family: Roboto;
}

.slider_item_img {
    width: 33%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_item_title {
    font-size: 13px;
    font-weight: bold;
    color: #0772ba;
    padding-left: 5px;
}
.slider_item_comment {
    font-size: 11px;
    color: #747474;
    padding-left: 10px;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 94%;
    margin: 0 auto;
    padding: 0 30px;
}
.owl-item {
    float: left;
}
.owl-item a {
    width: 100%;
}
.owl-prev,
.owl-next {
    top: 15px;
    width: 10px;
    height: 20px;
    position: absolute;
    z-index: 10;
    border: 0;
    outline: none;
    font-size: 0;
    cursor: pointer;
}
.owl-prev {
    left: 10px;
    background: transparent url(../img/left_arrow.png) 0 0 no-repeat;
}
.owl-next {
    right: 10px;
    background: transparent url(../img/right_arrow.png) 0 0 no-repeat;
}
.owl-stage-outer {
    overflow: hidden;
}
@media only screen and (max-width: 992px) {
    .container {
        width: 800px;
    }
    .top_menu a {
        font-size: 14px;
    }
    .header_info_bold,
    .header_info_bold span {
        font-size: 14px;
        float: left;
        margin-right: 10px;
    }
    .header_info_bold:after {
        clear: both;
        content: '';
    }
    .course_block {
        padding-right: 0px;
        margin-right: 10px;
    }
    .header_text_block {
        width: auto;
    }
    .header_info_bold {
        font-size: 14px;
    }
    .country_list li a {
        padding: 10px 16px 10px 30px;
        background-position: 10px 10px;
    }
    .country_list li a {
        padding: 10px 16px 10px 30px;
        background-position: 10px 10px;
    }
    .left_main_a {
        padding: 0 16px 0 25px;
        background-position: 5px center;
        font-size: 12px;
    }
    .search_input_label label {
        font-size: 12px;
    }
    .search_filter {
        display: block;
        float: left;
        position: relative;
    }
    .search_filters:after {
        content: '';
        clear: both;
    }
    #discard_filter {
        padding: 10px 13px 10px 25px;
        margin-left: -10px;
        background: transparent url(../img/discard_filter.png) 0 8px no-repeat;
    }
    #submit_detail_filter {
        padding: 10px 13px;
        font-size: 12px;
    }
    .submit_detail_block {
        float: right;
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    .jq-selectbox__select-text {
        font-size: 12px;
    }
    .main_item_img {
        background-size: contain;
    }
    .item_ul_list_quadro {
        float: left;
    }
    .h1, h1 {
        font-size: 24px;
        text-transform: uppercase;
    }
    .slider_item_title {
        font-size: 10px;
        line-height: 10px;
    }
    .slider_item_comment {
        font-size: 9px;
        padding-left: 5px;
    }
    .owl-prev, .owl-next {
        top: 5px;
    }
    .owl-prev, .owl-next {
        top: 5px;
    }
    .slider {
        width: 90%;
    }
    .main_item {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .header_info_bold.header_phone {
        font-size: 14px;
    }
    .main_menu_a {
        font-size: 14px;
    }
    .main_menu_li {
        padding: 10px 5px;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {

}